@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(5, 95, 1);
}

h1#principal {
    text-align: center;
    background-color: rgb(5, 95, 1);
    color: white;
}

h2 {
    color: rgb(73, 105, 72);
}

.basico {
    color: rgb(60, 104, 58);
    font-weight: bold;
}

.intermediario {
    color: rgb(105, 109, 25);
}

.avancado {
    color: rgb(112, 48, 48);
}

.destaque {
    background-color: #c4c46070;
}